###############################################################################
# Basic Postfix settings
#
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# !!!! ADJUST THE SETTINGS TO YOUR NEEDS !!!!
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
###############################################################################

# Whether or not to use the local biff service. This service sends "new mail"
# notifications to users who have requested new mail notification with the
# UNIX command "biff y". 
biff = no

# Appending .domain is the MUA's job. Default: Postfix >= 3.0: no
append_dot_mydomain = no

# The internet domain name of this mail system. 
mydomain = domain.tld

# The domain name that locally-posted mail appears to
# come from, and that locally posted mail is delivered to. The default,
# $myhostname, is adequate for small sites. (default: $myhostname)
myorigin = domain.tld

# "myhostname" should resolve to the IP of your mailserver. In general that's
# the Kubernetes worker node the Postfix container runs on.
# @ID@ is replaced during container startup (see: service/postfix/run_multi)
myhostname = mail@ID@.$mydomain

# The list of domains that are delivered via the $local_transport
# mail delivery transport. By default this is the Postfix local(8) delivery
# agent which looks up all recipients in /etc/passwd, /etc/aliases and
# /etc/mail/aliases.
# In this case it is sufficient to handle only local mails for domain
# "localhost" and "localhost.localdomain". That's mainly for locally
# generated (error) mails in the pod so that the mails can be forwarded
# elsewhere like a IMAP server. Most (virtual) mail domains/user are
# handled in the "$virtual_*" directives.
mydestination = localhost localhost.localdomain

# The list of "trusted" remote SMTP clients that have more privileges
# than "strangers". In particular, "trusted" SMTP clients are allowed
# to relay mail through Postfix. See the smtpd_relay_restrictions
# parameter description in the postconf(5) manual. You can specify the
# list of "trusted" network addresses by hand or you can let Postfix
# do it for you (which is the default). See the description of the
# "mynetworks_style" parameter for more information.
# We basically allow "localhost (127.0.0.1)" relaying mails. I additionally
# allowed my VPN hosts which are part of my 10.3.0.0/24 network (that's
# basically the network that all Kubernetes nodes belong to).
mynetworks = 127.0.0.1/32 10.3.0.0/24

# You MUST specify $myhostname at the start of the text. This is required
# by the SMTP protocol. (default: $myhostname ESMTP $mail_name)
smtpd_banner = $myhostname ESMTP $mail_name (Commodore Amiga)

# The alias databases that are used for local(8) delivery. See aliases(5)
# for syntax details. Adjust the file "etc/mail/aliases" which is 
# included in my "kubernetes-postfix" Git repository accordingly.
# Same is true for "$alias_database" (see next parameter).
alias_maps = lmdb:/etc/mail/aliases
# The alias databases for local(8) delivery that are updated with "newaliases".
# This is a separate configuration parameter because not all the tables
# specified with "$alias_maps" have to be local files.
# The script "service/postfix/run" which basically starts Postfix in the pod
# run's "newaliases" command during startup.
alias_database = lmdb:/etc/mail/aliases

# The  maximal  size  of any local(8) individual mailbox or maildir file,
# or zero (no limit).
mailbox_size_limit = 0
# The maximal size in bytes of a message, including envelope information.
# Note: be careful when making changes. Excessively small values will result
# in the loss of non-delivery notifications, when a bounce message size
# exceeds the local or remote MTA's message size limit.
message_size_limit = 20480000

# Avoid warning: smtputf8_enable is true, but EAI support is not compiled in
smtputf8_enable = no

# When a mailbox file is not owned by its recipient, the local and
# virtual delivery agents now log a warning and defer delivery.
# Specify "strict_mailbox_ownership = no" to ignore such ownership
# discrepancies.
strict_mailbox_ownership = no


###############################################################################
# Virtual mailbox handling
###############################################################################

# List all domains for that you want to handle virtual mailboxes. Basically
# specify all domains here which this Postfix should handle separated by spaces.
# Of course the DNS MX record of all the domains have to point to this mail
# server.
virtual_mailbox_domains = domain.tld anotherdomain.tld

# The default mail delivery transport and next-hop destination for final
# delivery to domains listed with "$virtual_mailbox_domains". This information
# can be overruled with the transport(5) table.
# I use Archiveopteryx IMAP server. It listens on port 2026 (LMTP protocol) on one
# of my PeerVPN addresses. As Postfix pod runs as a DaemonSet it has access to the
# PeerVPN network and can connect to the LMTP port of Archiveopteryx to 
# finally deliver the mail addressed to one of the user of the virtual domains.
# Replace www.xxx.yyy.zzz with the IP address of your LMTP server of course!
virtual_transport = lmtp:inet:www.xxx.yyy.zzz:2026

# Virtual user map. The script "service/postfix/run" will create a map
# of the virual users you specified here. See file "etc/postfix/vmailbox" as
# an example and for more information. Basically you specify all users here
# for which you want to receive mails line by line.
virtual_mailbox_maps = lmdb:/etc/postfix/vmailbox

# Optional lookup tables that alias specific mail addresses or domains to
# other local or remote address.
virtual_alias_maps = lmdb:/etc/postfix/virtual


###############################################################################
# Postfix built-in content inspection
###############################################################################

# These are applied to initial message headers (except for the
# headers that are processed with mime_header_checks). Possible use case
# could be to block all mails that contain "Viagra" in the header e.g.
# See "etc/postfix/headercheck" for examples.
header_checks = regexp:/etc/postfix/headercheck

# These  are  applied  to  all other content, including multi-part
# message boundaries. Basically as above but for the mail body.
# See "etc/postfix/bodycheck" for examples.
body_checks = regexp:/etc/postfix/bodycheck


###############################################################################
# Incoming TLS
###############################################################################

# Let's Encrypt certificate file
smtpd_tls_cert_file = /etc/postfix/certs/tls.crt
# Let's Encrypt key file
smtpd_tls_key_file  = /etc/postfix/certs/tls.key
# Sender MAY use TLS but we also accept unencrypted connections.
smtpd_tls_security_level = may
smtpd_tls_loglevel = 1
smtpd_tls_session_cache_database = lmdb:${data_directory}/smtpd_scache

# Better forward secrecy settings. With prime-field EDH, OpenSSL wants the
# server to provide two explicitly-selected (prime, generator) combinations.
# One for the now long-obsolete "export" cipher suites, and another for
# non-export cipher suites. Postfix has two such default combinations
# compiled in, but also supports explicitly-configured overrides.  
# See: http://www.postfix.org/FORWARD_SECRECY_README.html
smtpd_tls_dh1024_param_file = ${config_directory}/dh2048.pem
smtpd_tls_dh512_param_file = ${config_directory}/dh512.pem


###############################################################################
# Outgoing TLS
###############################################################################

# Postfix MAY use TLS encryption if destination supports it.
smtp_tls_security_level = may
smtp_tls_loglevel = 1
smtp_tls_session_cache_database = lmdb:${data_directory}/smtp_scache
# A long list of all of trusted certificate authorities concatenated together.
# This one is maintained by Alpine Linux but you can add your own if you want.
smtp_tls_CAfile = /etc/ssl/certs/ca-certificates.crt


###############################################################################
# SMTPD restrictions
###############################################################################

# Require that a remote SMTP client introduces itself with the HELO or EHLO command
# before sending the MAIL command or other commands that require EHLO negotiation.
smtpd_helo_required = yes

# Optional restrictions that the Postfix SMTP server applies in the context of
# a client RCPT TO command, after smtpd_relay_restrictions. With "permit_mynetworks"
# we allow hosts we defined in "$mynetworks" above to relay mail through this 
# mailserver. The "reject_rbl_*/reject_rhsbl_*" directives specifies a few 
# blacklists with served me very well over the last years to filter spam mail
# (actually they work so good that I don't use any spam filter besides
# Thunderbird's spam filter for the very few spam mails that get's through).
# For "reject_unauth_destination" see
# http://www.postfix.org/postconf.5.html#reject_unauth_destination
smtpd_recipient_restrictions =
	permit_mynetworks,
	reject_rbl_client ix.dnsbl.manitu.net,
	reject_rbl_client bl.spamcop.net,
	reject_rbl_client zen.spamhaus.org,
	reject_rbl_client b.barracudacentral.org,
	reject_rhsbl_sender bogusmx.rfc-ignorant.org,
	reject_unauth_destination,
	permit
